/* Only font-related rules
When the zoom level changes it will reload only this.
*/

QMainWindow, QWidget, QTreeView, QListView, QTableView, QListWidget,
QHeaderView::section, QPushButton, QLabel, QTextEdit, QLineEdit,
#TextMono, #BtnSurface, #BtnDanger, #BtnImportant, #Popup, QToolTip,
QActionWidget, QGroupBox, QRadiaButton {
    font-size: {FONT_SIZE};
}

#BtnLarge {
    padding: {BTN_PADDING_LARGE};
    font-size: {FONT_SIZE_LARGE};
}

#TextTitle {
    font-size: {FONT_SIZE_LARGE};
}

#TextSubtitle{
    font-size: {FONT_SIZE_SMALL};
}

QPushButton, #BtnImportant, #BtnSurface, #BtnDanger, #Popup, QCheckBox, QAction, QGroupBox,
QComboBox, QSpinBox, QDoubleSpinBox, QSlider, QDial, QProgressBar {
    padding: {BTN_PADDING};
    min-width: {BTN_MIN_WIDTH};
}

#TextOverlay {
    font-size: 42px;
}

QGroupBox {
    border-radius: {BTN_PADDING};
}

QRadioButton::indicator {
    width: {FONT_SIZE};
    height: {FONT_SIZE};
}
